<?xml version="1.0"?>
<!--
/**
 * Copyright © MageWorx. All rights reserved.
 * See LICENSE.txt for license details.
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    
    <!-- Adds additional data to the orders grid collection -->
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <plugin name="shiptimize_shipping_orders_grid_add_data_to_orders_grid"
                type="Shiptimize\Shipping\Plugin\AddDataToOrdersGrid"
                sortOrder="10"
                disabled="false"/>
    </type> 
    <!-- plug into the button list event --> 
    <type name="Magento\Backend\Block\Widget\Button\Toolbar">
        <plugin name="Shiptimize_Shipping::orderview" type="Shiptimize\Shipping\Plugin\Widget\ShipmentButtons" sortOrder="1000" />
    </type>
</config>